<div class="course-card">
    <div class="course-card-inner">
      <h3 class="course-card-title">Undergraduate Final Year Project Topics</h3>
  
      <p class="course-card-desc">
        Final year project topics are available for undergraduate students interested in applying AI, robotics, and human-centred approaches to real-world industrial problems. Projects are structured, supervised and aligned with the lab’s ongoing research activities.
      </p>
  
      <details class="course-card-expandforopp">
        <summary class="course-card-expandforopp-btn">More Information</summary>
  
        <div class="course-card-expandforopp-body">
          <!-- Research areas -->
          <h4>Avaliable Projects</h4>
          <h1>WORK IN PROGRESS</h1>
          <!-- <ul>
            <li>Human-centred manufacturing and collaborative robotics</li>
            <li>Industrial automation and cyber-physical production systems</li>
            <li>
              AI for manufacturing systems and applied machine/deep learning
            </li>
            <li>
              Sustainable smart manufacturing and net-zero production systems
            </li>
            <li>CNNs and machine vision applications in manufacturing</li>
            <li>
              Multi-objective and multidisciplinary optimisation and
              meta-heuristics
            </li>
            <li>
              Manual assembly systems, perceived complexity and industrial
              ergonomics
            </li>
          </ul>
  
          <hr /> -->
  
          <!-- How to apply -->
          <!-- <h4>How to Apply</h4>
          <p>
            Interested candidates should send their application materials to
            <strong>Dr. Bugra Alkan</strong> at
            <a href="mailto:bugra.alkan@lsbu.ac.uk">bugra.alkan@lsbu.ac.uk</a>.
            <br />
            Please use the subject line:
            <em>“Application: PhD Opportunity – [Your Name]”</em>. We review
            applications on a rolling basis and will contact qualified candidates
            for interviews.
          </p>
  
          
          <h4>Application Materials</h4>
          <ul>
            <li><strong>CV</strong> (academic CV preferred)</li>
            <li>
              <strong>Academic transcripts</strong> (unofficial copies are
              acceptable initially)
            </li>
            <li>
              <strong>Short research statement / proposal</strong> (1–2 pages;
              interests + fit with the lab)
            </li>
            <li>
              <strong>Motivation statement</strong> (can be included in the email
              body)
            </li>
            <li>
              <strong>Publications / GitHub / portfolio</strong> (optional, if
              available)
            </li>
          </ul>
  
          <p><small>Our lab is committed to diversity and inclusion.</small></p>
  
          <hr />
        </div>
      </details> -->
    </div>
</div>