<div class="course-section">
    <div class="course-section-inner">
      <h1>Opportunities and Vacancies</h1>
      <h3>BSc, MSc and PhD opportunities in human-centred industrial intelligence and AI-enabled manufacturing</h3>
  
      <div class="course-grid">
        {{ partial "opportunities/phd-expand-card.html" . }}
  
        {{ partial "opportunities/simple-card.html" . }}

        {{ partial "opportunities/bsc-card.html" . }}
  
        <!-- {{ partial "opportunities/simple-card.html" (dict
          "title" "Undergraduate Final Year Project Topics"
          "meta" "BSc / Undergraduate"
          "description" "Final year project topics are available for undergraduate students interested in applying AI, robotics, and human-centred approaches to real-world industrial problems. Projects are structured, supervised and aligned with the lab’s ongoing research activities."
          "link" "/icps/"
          "linktext" "More Information →"
        ) }} -->
      </div>
    </div>
</div>
  