<section class="oppo-intro">
  <div class="event-intro__image">
    <img
      src="/media/images/GP1_KilobotExC.jpeg"
      alt="HCI² Research Group"
    />
  </div>

  <div class="event-intro__content">
    <h5>Discover opportunities in HCI²</h5>
    <span class="hero-intro__divider"></span>

    <p>
      Welcome to the Human-Centred Industrical Intelligent Lab (HCI²). We bring
      together researchers, engineers and students working on human-robot
      collaboration, intelligent systems, perception, and AI.
    </p>
    <a href="/opportunities/" class="btn-primary">View Open Position</a>
  </div>
</section>
