<section class="publications">
  <div class="publications-semi">
    <div class="publications__header">
      <h2>Recent publications</h2>
      <a href="/publication/" class="btn-primary"> Explore all publications </a>
    </div>

    <hr class="publications__divider" />

    <div class="publication-item">
      <p class="title">
        Spatial Augmented Reality in Manual Assembly: An Empirical Investigation
        of Its Effects on Assembly Performance and Cognitive Ergonomics.
      </p>

      <p class="authors">
        Bugra Alkan, Naimul Hasan, Louie Webb, Malarvizhi Kaniappan Chinnathai (2025)
      </p>

      <a href="/publication/preprint/preprint2/" class="btn-outline">Read paper</a>
    </div>

    <div class="publication-item">

      <p class="title">
        A Novel Adaptive AMR Fleet Management System Leveraging AI-enabled Digital Twin for Agile Incident Response and Improved Shop-floor Efficiency.
      </p>

      <p class="authors"> Louie Webb, Osman M. Tokhi, Bugra Alkan (2025).</p>

      <a href="http://localhost:1313/publication/preprint/preprint1/" class="btn-outline">Read paper</a>
    </div>
  </div>
</section>
